<div class="container">
	
	<p class="link">Subscribe to our newsletter</p>
	<form class="subscribe mb-50" action="#">
		<input type="text" placeholder="enter your e-mail for promos and news">
		<button type="submit"><i class="ico-arrow"></i><!-- <i class="ico-tick"></i> --></button>
		<!-- <span class="error">Please enter a valid e–mail</span> -->
	</form>

	<div class="row mb-40">
		
		<div class="col-5 d-none d-md-block"><img src="img/ico/logo-gg-white.png" srcset="img/ico/logo-gg-white@2x.png 2x" alt=""></div>

		<div class="col-md-2 col-6 sm-mb-30">
			<a href="#">Facebook</a>
			<a href="#">Twitter</a>
			<a href="#">Youtube</a>
			<a href="#">Instagram</a>
		</div>

		<div class="col-md-2 col-6 sm-mb-30">
			<a href="menu.html">Menú</a>
			<a href="green-life.html">Green Life</a>
			<a href="sucursales.html">Sucursales</a>
			<a data-toggle="modal" data-target="#modalContact">Contacto</a>
		</div>

		<div class="col-md-3">
			<a href="faq.html">F.A.Q.</a>
			<a href="terminos.html">Términos y condiciones</a>
			<a href="politica.html">Política de privacidad</a>
		</div>

	</div>

	<hr>

	<div class="row">
		
		<div class="col-md-6 sm-text-center sm-mb-15"><img src="img/ico/logo-white.png" srcset="img/ico/logo-white@2x.png 2x" alt=""></div>

		<div class="col-md-6 sm-text-center text-right"><p><small>Copyright 2018 Greengrass. All rights reserved</small></p></div>
	
	</div>

</div>