<div class="container-fluid">
	<div class="row">
		
		<div class="col-4 d-none d-lg-block">
			<a class="menu-link" data-section="menu" href="menu.html">MENÚ</a>
			<a class="menu-link" data-section="green-life" href="green-life.html">GREEN LIFE</a>
			<a class="menu-link" data-section="locations" href="sucursales.html">SUCURSALES</a>
		</div>

		<div class="col-lg-4 col-md-6 col-8 offset-lg-0 offset-md-3 offset-2 text-center"><a href="index.html" id="logo"></a></div>
		
		<div class="col-lg-4 col-3 d-none d-md-block text-right">
			<a class="menu-link d-none d-lg-inline-block" data-toggle="modal" data-target="#modalContact">CONTÁCTANOS</a>
			<a class="menu-link" data-toggle="modal" data-target="#modalOrder" id="btnOrder">ORDENA EN LÍNEA</a>
		</div>

	</div>
</div>