
<div class="d-flex align-items-start flex-column h-100">
  <div class="row w-100">
    <div class="col-8">
      <a href="index.html"><img src="img/ico/logo-white.png" srcset="img/ico/logo-white@2x.png 2x" class="d-block" alt=""></a>
    </div>
    <div class="col-4" align="right">
      <button type="button" class="mobile-btn" data-dismiss="modal" aria-label="Close"></button>
    </div>
  </div>
  <hr class="mb-50">
  <ul class="mobile-nav list-unstyled mb-auto">
    <li class="main-item nav-item">
      <a href="menu.html">menú</a>
    </li>
    <li class="main-item nav-item">
      <a href="green-life.html">green life</a>
    </li>
    <li class="main-item nav-item">
      <a href="sucursales.html">sucursales</a>
    </li>
    <li class="main-item nav-item">
      <a data-toggle="modal" data-target="#modalContact">contáctanos</a>
    </li>
    <li class="main-item nav-item">
      <a data-toggle="modal" data-target="#modalOrder" id="btnOrderMobile">ordena en línea</a>
    </li>
  </ul>
  <div class="align-self-end">
    <a>Facebook</a> /
    <a>Twitter</a> /
    <a>Youtube</a> /
    <a>Instagram</a>
  </div>
</div>