.btn {

	background   : none;
	padding      : 4px 20px;
	border       : 1px solid $green;
	border-radius: 4px;
	text-align   : center;
	overflow     : hidden;
	position     : relative;
	z-index      : 1;

	&:after{

		@extend %transition-fast;

		content   : '';
		width     : 100%;
		height    : 0;
		left      : 0;
		bottom    : 0;
		z-index   : -1;
		position  : absolute;
		background: $green;
	}

	&:hover{
		color: #FFF;

		&:after{
			height: 100%;
		}
	}

	&.diet{

		@extend %transition;

		opacity      : 0.8;
		cursor: pointer;
		
		color        : #FFF;
		border       : 1px solid $beige;
		border-radius: 17.5px;
		margin       : 0 10px 15px 0;

		&:hover,
		&.selected{

			border-color: $yellow;
			background  : $yellow;
		
		}

		&:after{
			display: none !important;
		}

	}

}

.tag {

	padding       : 4px 15px;
	border        : 1px solid $yellow;
	background    : $yellow;
	border-radius : 15px;
	text-align    : center;
	font-size     : 13px;
	color         : #FFFFFF;
	letter-spacing: 0.1px;
	line-height   : 16px;

}

.modal .close {
	
	opacity: 0.8;
	width: 20px;
	height: 20px;
	position: relative;

	&:before, 
	&:after {

		position: absolute;
		left: 10px;
		top: -3px;
		content: ' ';
		height: 27px;
		width: 2px;
		background-color: $beige;

	}

	&:before {

		transform: rotate(45deg);

	}

	&:after {

		transform: rotate(-45deg);

	}
}