footer {

	background: $green;
	padding   : 65px 0 55px;

	*{
		color: #FFF;
	}

	a{
		display       : block;
		text-transform: none;
		font-size     : 16px;
		color         : #F4F3F0;
		letter-spacing: -0.08px;
		line-height   : 24px;
	}

	hr{
		height       : 1px;
		opacity      : 0.2;
		margin-bottom: 24px;
		background   : #fff;
	}

	.subscribe button{
		margin-top: -7px;
	}

	span.error{
		position: absolute;
		bottom: -30px;
		left: 0;
		color: #FD0000;
	}

}

@include media-breakpoint-down(md) {

	footer .container{
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}


}

@include media-breakpoint-down(sm) {

}
