header {
	position  : fixed;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 70px;
	z-index   : 999;
	padding   : 14px 0;
	background: #FBFAF9;

}

.menu-link{

	display       : inline-flex;
	font-size     : 11px;
	line-height   : 42px;
	font-weight   : 500;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	margin        : 0 12px;
	position      : relative;

	&::after{

		@extend %transition-fast;

		content: '';
		position     : absolute;
		bottom       : 4px;
		left         : 50%;
		margin-left  : -7px;
		z-index: -1;
		width: 15px;
		height: 0;
		border: solid transparent;
		border-top: 0;

	}

	&:hover,
	&.is-active{

		&:after{

			height: 8px;
			border-bottom-color: $green;
			border-left-color: $green;
			border-right-color: $green;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			border-width: 2px;

		}
	}

}

#modalContact .modal-dialog,
#modalLoc .modal-dialog, 
#modalOrder .modal-dialog{

	background: $green;
	color: #FFF;
	margin-top: 0;
	padding: 70px 120px;

	@media (min-width: 576px) {
		max-width: 100%; 
	}
	@media (min-width: 992px) {
		max-width: 960px; 
	}
	@media (min-width: 1200px) {
		max-width: 1140px; 
	}		

	button.close{

		position: absolute;
		top: 30px;
		right: 30px;

	}

	.h1{

		margin-bottom: 170px;

	}

}

#modalOrder .modal-dialog{
	height: 640px;
}

#modalLoc {
	left: 50%;
	right: auto;

	.modal-dialog{
		padding: 50px;
		height: 620px;
		width: 530px;

		.title{
			border-color: #fff;
			margin-bottom: 60px;
			padding-bottom: 10px;
		}

		.content p{
			margin-bottom: 20px;
			line-height: 17px;
		}
	}

	@media (min-width: 768px) {
		margin-left: -370px; 
	}
	@media (min-width: 992px) {
		margin-left: -465px; 
	}
	@media (min-width: 1200px) {
		margin-left: -555px; 
	}	
}


@include media-breakpoint-down(md) {

	.modal{ z-index: 99999; }

	#modalContact .modal-dialog{

		height: 100%;
		width: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;

		.h1{
			margin-top: auto;
		}

	}

	#modalOrder {

		top: -100vh;
		bottom: auto;
		display: block !important;
		transition: all 400ms cubic-bezier(0.445, 0.5, 0.55, 0.95);

		.modal-dialog{

			height: 100vh;
			width: 100vw;
			padding: 47px;

			.location-search button span{
				right: -94px;
			}
		}
	}

}

@include media-breakpoint-down(sm) {

	.modal-dialog{ margin: 0; }

	#modalLoc{
		left: 0;
		width: 100%;
		height: 100%;

		.modal-dialog{
			width: 100%;
			height: 100%;
			padding: 70px 15px;

			.h1{
				padding-right: 50%;
			}
		}
	}

	#modalContact .modal-dialog .h1{
		margin-bottom: auto;
		
	}



}
