i[class*="ico"]{

	@extend %transition;
	
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;

}

.ico-arrow {
	width           : 20px;
	height          : 15px;
	background-image: url(../img/ico/arrow.png);	
}

.ico-back {
	width           : 11px;
	height          : 10px;
	vertical-align  : baseline;
	background-image: url(../img/ico/back.png);	
}

.ico-dressing {
	width           : 15px;
	height          : 13px;
	background-image: url(../img/ico/aderezo.png);	
}

.ico-filter {
	width           : 17px;
	height          : 13px;
	background-image: url(../img/ico/menu-filter.png);	
}

.ico-search {
	width           : 19px;
	height          : 18px;
	background-image: url(../img/ico/search.png);	
}

.ico-tick {
	width           : 16px;
	height          : 13px;
	background-image: url(../img/ico/tick.png);	
}

.ico-vegan,
.ico-gf,
.ico-ss,
.ico-heart,
.ico-protein,
.ico-fiber {
	width           : 18px;
	height          : 18px;
}

.ico-vegan{ background-image: url(../img/ico/vegan.png); }
.ico-gf{ background-image: url(../img/ico/gf.png); }
.ico-ss{ background-image: url(../img/ico/ss.png); }
.ico-heart{ background-image: url(../img/ico/antioxidant.png); }
.ico-protein{ background-image: url(../img/ico/protein.png); }
.ico-fiber{ background-image: url(../img/ico/fiber.png); }

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

	i[class*="ico"]{ background-size: 100% auto; }

	.ico-arrow{ background-image: url(../img/ico/arrow@2x.png);	}
	.ico-vegan{ background-image: url(../img/ico/vegan@2x.png); }
	.ico-gf{ background-image: url(../img/ico/gf@2x.png); }
	.ico-ss{ background-image: url(../img/ico/ss@2x.png); }
	.ico-heart{ background-image: url(../img/ico/antioxidant@2x.png); }
	.ico-protein{ background-image: url(../img/ico/protein@2x.png); }
	.ico-fiber{ background-image: url(../img/ico/fiber@2x.png); }
	
	.ico-back{ background-image: url(../img/ico/back@2x.png); }
	.ico-dressing{ background-image: url(../img/ico/aderezo@2x.png); }
	.ico-filter{ background-image: url(../img/ico/menu-filter@2x.png); }
	.ico-search{ background-image: url(../img/ico/search@2x.png); }
	.ico-tick{ background-image: url(../img/ico/tick@2x.png); }

}