#logo{

	@extend %transition;

	width: 169px;
	height: 42px;
	background: url(../img/ico/logo.png);
}

.scrolled #logo{
	background-position: 0 -42px;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

	#logo{
		background-image: url(../img/ico/logo@2x.png);
		background-size: 100% auto;
	}

}