

.mobile-btn {
  @extend %transition;
  cursor        : pointer;
  position      : fixed;
  z-index       : 9999;
  top           : 25px;
  left          : 24px;
  width         : 20px;
  height        : 15px;

  .nav-btn {
    height    : 1px;
    width     : 100%;
    display   : block;
    background: $mobile-nav-bg;
    @extend %transition;

    &::after,
    &::before {
      @extend %transition;

      content   : ' ';
      display   : block;
      height    : 1px;
      width     : 20px;
      background: $mobile-nav-bg;
    }

    &::before {
      transform: translateY(7px);
    }

    &::after {
      transform: translateY(13px);
    }
  }

}

.mobile-menu {
  @extend %transition;
  @extend h1;
  z-index       : 99999;
  pointer-events: none;
  padding       : 25px 15px 0;
  width         : 320px;
  height        : 100%;
  position      : fixed;
  left          : -100%;
  background    : $green;
  overflow      : scroll;
  color         : #FFF;

  &.open {
    @extend %transition;
    opacity       : 1;
    left: 0;
    pointer-events: all;

    li.nav-item a{
      display: block;
      font-size: 25px;
      color: #F4F3F0;
      letter-spacing: 0;
      line-height: 40px;
    }
  }

  .mobile-btn{
    width: 20px;
    height: 20px;
    top: 0;
    right: -20px;
    left: auto;
    position: relative;
    
    &:before, 
    &:after {
      position: absolute;
      left: 10px;
      top: -8px;
      content: ' ';
      height: 27px;
      width: 1px;
      background-color: #F4F3F0; 
    }

    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); 
    }
  }

  .align-self-end{
    text-align: left;
    font-size: 15px;
    color: #F4F3F0;
    letter-spacing: -0.17px;
    line-height: 24px;
    width: 100%;
    padding-bottom: 20px;

    a{
      display: inline-block;
    }
  }
}

@include media-breakpoint-down(sm) {

}
