.h1,
h1 {

  @extend %type-body;

  font-size     : 52px;
  letter-spacing: -1.3px;
  line-height   : 60px;

  &.title{

    margin-bottom : 30px;
    padding-bottom: 10px;
    border-bottom : 1px solid $green;

  }

}

.h2,
h2 {

  @extend %type-body;

  font-size     : 34px;
  letter-spacing: -0.29px;
  line-height   : 50px;

}

.h3,
h3 {

  @extend %type-body;

  font-size     : 22px;
  letter-spacing: -0.1px;
  line-height   : 25px;

}

p {

  opacity       : 0.9;
  font-size     : 16px;
  letter-spacing: -0.08px;
  line-height   : 24px;
  margin-bottom : 0;

  &.sm{
    line-height: 17px;
  }
  
  small{
    font-size     : 13px;
    letter-spacing: 0.1px;
    line-height   : 17px;

    strong{
      opacity    : 1;
      font-weight: 500;
    }

  }

  &.text-center{
    opacity   : 1;
  }

  &.error{
    color: $red;
  }

}

.btn,
.link {

  font-size     : 11px;
  letter-spacing: 0.9px;
  line-height   : 24px;
  font-weight   : 500;
  text-transform: uppercase;

  &:hover i[class*="ico"]{

    transform: translate(-10px);

  }

}

a.under{
  text-decoration: underline;
}

.text-white {
  color: $white;
}

.text-brown {
  color: #A8A7A5;
}

@include media-breakpoint-down(md) {

  h1,
  .h1{

    font-size: 42px;
    letter-spacing: -1.05px;
    line-height: 50px;

  }

  h2,
  .h2{

    line-height: 38px;

  }

}

@include media-breakpoint-down(sm) {

  h1,
  .h1{

    font-size: 32px;
    letter-spacing: -0.8px;
    line-height: 40px;

  }

  h2,
  .h2{

    font-size: 32px;
    letter-spacing: -0.27px;
    line-height: 40px;

  }

}