body,
html {
  @extend %type-body;
  @extend %font-smoothing;
  background: $body-background-color;
  color     : $body-text-color;
  height    : 100%;
  
  @include media-breakpoint-down(md) {
    font-size  : 14px;
    line-height: 18px;
  }
  @include media-breakpoint-down(lg) {
    font-size  : 16px;
    line-height: 20px;
  }

}

main {
  opacity    : 0;
  padding-top: 70px;
  overflow   : hidden;
}

.container-fluid{
  //max-width: 1280px;
}

form {

  position: relative;

  button{
    opacity   : .5;
    position  : absolute;
    right     : 0;
    top       : 50%;
    background: none;
    padding   : 0;
    border    : none;
  }

  &:focus-within button{
    opacity: 1;
  }

}

input{
  width         : 100%;
  background    : none;
  font-size     : 34px;
  color         : #F4F3F0;
  letter-spacing: -0.39px;
  line-height   : 50px;
  border-bottom : 1px solid rgba(244,243,240,0.8);
  
  &:focus{
    border-bottom-color: $beige;
  }

}

hr{

  height       : 1px;
  width        : 100%;
  margin-bottom: 30px;
  background   : rgba(212,210,203,0.5);

}

.h-640{ height: 640px; }

.p0-30{ padding-left: 30px; padding-right: 30px; }
.p30-0{ padding-top: 30px; padding-bottom: 30px; }
.p-5p { padding: 30px 5%; }
.p-50 { padding-top: 50px; padding-bottom: 50px; }
.p-80, section { padding-top: 80px; padding-bottom: 80px; }
.pt-40{ padding-top: 40px; }
.pt-80{ padding-top: 80px; }
.pb-30{ padding-bottom: 30px; }

.mt-7 { margin-top: 7px; }
.mt-20{ margin-top: 20px; }

.mb--10{ margin-bottom: -10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px !important; }
.mb-80 { margin-bottom: 80px !important; }

.mr-7{ margin-right: 7px; }
.mr-10{ margin-right: 10px; }

.ml-50{ margin-left: 50px; }

.bdr-timber{ 
  position: relative;
  
  &:after{
    content   : '';
    position  : absolute;
    right     : 0;
    top       : 50%;
    margin-top: -30px;
    width     : 1px;
    height    : 60px;
    background: $timber;
    opacity   : .58;
  }
}

.img-bg{

  background-position: top;
  background-repeat  : no-repeat;
  background-size    : cover;

  *{
    color: #FFF;
  }

}


@include media-breakpoint-down(md) {

  .md-ml-15{ margin-left: 15px; }
  .md-mr-30{ margin-right: 30px; }
  .md-mb-30{ margin-bottom: 30px; }

  .md-text-left{ text-align: left; }

  .container{

    max-width: 100%;

    .p-80 &{
      padding-right: 30px;
      padding-left: 30px;
    }

  }

  .p0-30{ padding-left: 15px; padding-right: 15px; }
  .p-5p{ padding: 70px 15px; }

  body, 
  header{

    transition: all 400ms cubic-bezier(0.445, 0.5, 0.55, 0.95);

  }

  body.push{
    margin-top: 100vh;

    header{
      top: 100vh;
    }

    #modalOrder{
      top: 0;
    }
  }


}

@include media-breakpoint-down(sm) {

  .sm-text-center{ text-align: center !important;  }

  .sm-p-70{ padding-top: 70px; padding-bottom: 70px; }

  .sm-mb-10{ margin-bottom: 10px !important; }
  .sm-mb-15{ margin-bottom: 15px !important; }
  .sm-mb-20{ margin-bottom: 20px !important; }
  .sm-mb-30{ margin-bottom: 30px !important; }
  .sm-mb-40{ margin-bottom: 40px !important; }
  .sm-mb-50{ margin-bottom: 50px !important; }
  .sm-mb-120{ margin-bottom: 120px !important; }

  .sm-w-100{ width: 100% !important; }

  .h-640{ height: 400px; }

  input{
    font-size: 24px;
    letter-spacing: -0.27px;
    line-height: 30px;
  }

}
