$body-background-color: #FFF;
$body-text-color: #014D4A;
$mobile-nav-bg: #014D4A;
$placeholder-color: #F4F3F0;

$bezier: cubic-bezier(.445, .5, .55, .95);

// Typography Options
$font-body: 'Guillon';

%type-body {
  font-family: $font-body;
  font-weight: normal;
  font-style : normal;
}