.page-footer-links{

	a.link{
		
		display: block;
		position: relative;

		&.selected{
			
			padding-left: 15px;

			&:before{

				content: '';
				position: absolute;
				left: 0;
				top: 6px;
				width: 10px;
				height: 10px;
				background: $green;
				border-radius: 50%

			}

		}

	}

	.bdl:before{

		content: '';
		position: absolute;
		top: 0;
		left: -45px;
		width: 1px;
		height: 100%;
		background: rgba(212,210,203,0.5);

	}

	h1{
		
		margin-bottom: 60px;

	}

	h3, p{
		
		margin-bottom: 15px;

	}

	article{

		margin-bottom: 80px;

		&:last-child{

			margin-bottom: 0;

		}

	}

}

@include media-breakpoint-down(sm) {

	.page-footer-links{

		a.link{
			padding-bottom: 18px;
			margin-right: 17px;
			display: inline-block;

			&.selected{
				padding-left: 0;

				&:before{
					left: 50%;
					top: 20px;
					margin-left: -7px;
				}
			}
		}

		.swiper-container:before{
			content: '';
			width: 63px;
			height: 32px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 6;
			background: url(../img/fade-white.png)
		}

		.swiper-slide{
			width: auto;
		}

		.bdl{
			padding-top: 55px;

			&:before{
				width: calc(100% - 30px);
				height: 1px;
				top: 0px;
				left: 15px;
			}
		}

	}


}