.life-card{

	width: 300px;
	height: 300px;
	padding: 25px;
	overflow: hidden;
	position: relative;
	display: inline-flex;
	margin-right: 10px;

	.caption{

		padding: 25px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		p{

			display: none;

		}

	}

	a.play{

		@extend %transition-fast;

		position: absolute;
		right: 30px;
		bottom: 30px;
		width: 53px;
		height: 53px;
		z-index: 5;
		background: url(../img/ico/play.svg);
		background-size: 53px;

	}
	
	&:before{

		content: '';
		width: 100%;
		height: 113px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: -moz-linear-gradient(top, rgba(41,25,17,0) 0%, rgba(41,25,17,1) 100%); 
		background: -webkit-linear-gradient(top, rgba(41,25,17,0) 0%,rgba(41,25,17,1) 100%); 
		background: linear-gradient(to bottom, rgba(41,25,17,0) 0%,rgba(41,25,17,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00291911', endColorstr='#291911',GradientType=0 ); 

	}

	&:after{

		@extend %transition-fast;

		content: '';
		width: 100%;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		background: $green;
		opacity: .8;

	}

	&:hover{

		.caption p{

			display: block;

		}

		a.play{

			bottom: 100px;
			right: 100px;
			width: 100px;
			height: 100px;
			background-size: 100px;

		}

		&:after{

			height: 100%;

		}

	}

}

.life-swiper .swiper-container{

	overflow: visible;

}