.stage{

	padding: 50px;
	height : 570px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.caption{
		width     : 600px;
		margin: auto auto auto 0;
	}

	*{
		color: #FFF;
	}

}

.home-swiper{

	.slide-content{

		text-align: center;

		p.desc{

			max-width: 450px;
			margin: 0 auto;

		}

	}

	.swiper-slide-prev .slider-img,
	.swiper-slide-next .slider-img{

		&:after{
			display: none;
		}

	}

	@include media-breakpoint-up(xl) {
		
		.swiper-slide.swiper-slide-active{

			width: 70% !important;

		}

		.swiper-slide.swiper-slide-prev,
		.swiper-slide.swiper-slide-next{

			width: 15% !important;

		}

		.swiper-slide-prev .slider-img{

			margin: 0;
			margin-left: -110%;

		}

		.swiper-slide-next .slider-img{

			margin: 0;
			margin-left: -10%;

		}
		
		.swiper-slide p{

			display: none;

		}

		.swiper-slide-active p{

			display: block;

		}

	}

	.swiper-counter {

		@extend .link;

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 1;

	}

	.swiper-pagination{

		position: relative;
		bottom: 28px !important;

	}

	.swiper-pagination span{

		display: inline-block;
		margin-left: 7px;
		margin-right: 7px;

		&.pag-0-3, &.pag-2-3,
		&.pag-0-4, &.pag-3-4,
		&.pag-1-5, &.pag-3-5{

			margin-bottom: 3px;

		}

		&.pag-0-5, &.pag-4-5{

			margin-bottom: 9px;

		}

	}

	.swiper-pagination-bullet {
		display: inline-block;
		margin-left: 7px !important;
		margin-right: 7px !important;
		border: 5px solid #f4f3f0;
		width: 20px;
		height: 20px;
		background: rgba(27, 95, 92, 0.75);
	}

	.swiper-pagination-bullet-active{
		border-color: #D3D1CA;
	}

}

.slider-img{

	position: relative;
	width: 525px;
	height: 525px;
	margin: 0 auto;
	
	&::after{

		content: '';
		position: absolute;
		top: 220px;
		left: 47px;
		width: 448px;
		height: 228px;
		border-bottom-left-radius: 225px;
		border-bottom-right-radius: 220px;
		border: 4px solid $green;
		border-top: 0;
		
	}

}

.bowl{
	
	position: relative;
	margin-bottom: 40px;

	p{
		position: absolute;
	}

	.b1{
		top: -40px;
		left: 0;
		transform: rotate(14deg);
	}

	.b2{
		top: 70px;
		left: 100px;
		transform: rotate(-32deg);
	}

	.b3{
		top: 40px;
		left: 200px;
		transform: rotate(-48deg);
	}

	&::after{
		content: '';
		display: block;
		width: 410px;
		height: 200px;
		border-bottom-left-radius: 200px;
		border-bottom-right-radius: 200px;
		border: 4px solid $green;
		border-top: 0;
	}

}


@include media-breakpoint-down(lg) {

	.bowl{

		&:after{
			width: 360px;
			height: 170px;
		}

		.b1{
			top: -60px;
		}

		.b2{
			top: 50px;
			left: 90px;
		}

		.b3{
			top: 20px;
			left: 180px;
		}

	}

}


@include media-breakpoint-down(md) {

	.stage{

		height: 430px;
		padding: 40px 20px 25px 20px;

		.caption{
			width: auto;
			margin: 0 auto auto 0;
		}

		.align-self-end{
			max-width: 40%;
		}

	}

	.bowl{

		&:after{
			width: 290px;
			height: 140px;
		}

		.h1{
			font-size: 34px;
			letter-spacing: -0.29px;
			line-height: 38px;
		}

		.b1{
			top: -40px;
		}

		.b2{
			left: 70px;
		}

		.b3{
			left: 150px;
		}

	}

}

@include media-breakpoint-down(sm) {

	.stage{
		height: 400px;
	}

	.slider-img{
		width: 290px;
		height: 320px;

		img{
			width: 100%;
		}

		&:after{
			top: 130px;
			left: 25px;
			width: 240px;
			height: 120px;
		}
	}

	.bowl{
		width: 290px;
		margin-left: auto;
		margin-right: auto;
	}


}
