.location-search button{

	margin-top: -9px;
	color: #FFF;
	z-index: 10;

	span{

		margin-right: 7px;

	}

}

.location-overview{

	height: 420px;
	display: flex;
	margin-bottom: 60px;

	> div{

		width: 50%;
		height: 100%;

	}

}

.loc{

	position: relative;
	margin-bottom: 80px;

	h3{

		margin-bottom: 20px;

	}

	p{

		line-height: 17px;

	}

	span{

		opacity: 0;
		position: absolute;
		bottom: -40px;
		left: 15px;

	}

	&:hover span{

		opacity: 1;

	}

}

@include media-breakpoint-down(md) {

	.location-search button span{
		position: absolute;
		right: -60px;
		width: 100vw;
		bottom: -45px;
		text-align: left;
		margin: 0;
	}

}

@include media-breakpoint-down(sm) {

	.location-search{

		&:after{
			content: '';
			width: 99px;
			height: 30px;
			position: absolute;
			top: -1px;
			right: 0;
			z-index: 0;
			background: url(../img/fade.png);
		}
		
		button {

			margin-top: -13px;

			span{
				bottom: -35px;
			}
		}
	}

	.location-overview{

		height: auto;
		display: block;
		margin-bottom: 60px;

		> div{

			width: 100%;
			height: 250px;

		}

	}

	.loc{
		margin-bottom: 50px;
	}

}