.page-menu{

	padding-top: 140px;

}

.submenu{

	position: fixed;
	top: 70px;
	left: 0;
	z-index   : 999;
	background: $green;
	height: 70px;
	width: 100%;
	padding: 22px 0;
	text-align: center;

	a{

		color: #FFF !important;
		margin: 0 12px;

	}

	.submenu-links a{

		@extend .menu-link;
		line-height: 24px;

		&::after{

			bottom: -6px;

		}

		&:hover, 
		&.is-active{

			&::after{

				width: 15px;
				border-bottom-color: #fff;
				border-left-color: #fff;
				border-right-color: #fff;

			}

		}
		

	}

}

.dish{

	position: relative;
	
	.tag{

		@extend %transition;
		
		position: absolute;
		top: 70px;
		left: 0;
		z-index: 10;
		opacity: 0;
		
	}

	&.show-tag .tag{

		opacity: 1;
		
	}

}

.accordion{

	border-bottom: 1px solid $green;

}

.card{

	margin-top: -1px;
	border: none;
	border-top: 1px solid $green;

	.card-header{

		background: none;
		padding: 16px 30px;
		
	}

	button{

		@extend .h2;
		
		margin: 0;
		width: 100%;
		text-align: left;
		display: block;
		position: relative;

		span,
		&:before{

			position: absolute;
			top: 12px;
			
		}

		span{

			width: 18px;
			height: 18px;
			right: -30px;
			top: 17px;

			&:before{

				width: 18px;
				height: 1px;
				top: 8px;
				left: 0;

			}

			&:after{

				@extend %transition;

				width: 1px;
				height: 0;
				top: 0;
				left: 8px;

			}

			&:before,
			&:after{

				content: '';
				position: absolute;
				background: $green;

			}

		}

		&.collapsed span:after{

			height: 18px;

		}

		&:before{

			content: attr(data-number);
			left: -30px;
			width: 20px;
			height: 20px;
			font-size: 13px;
			line-height: 22px;
			text-align: center;
			border-radius: 50%;
			background: $green;
			color: #FFF;
			display: block;
			

		}

	}

	.card-body{

		padding: 30px 0;

	}

}

#modalDietary{

	left: auto;
	width: 540px;
	height: 640px;
	padding: 60px;
	background: $green;

	button.close{

		position: absolute;
		top: -60px;
		right: -30px;

	}

}

.img-dish{

	width: 90%;

}

.benefits{
	display: inline-block;
	margin-right: 7px;
}


@include media-breakpoint-down(md) {

	.submenu{
		text-align: left;
	}

	.img-dish{

		width: 70%;
		
	}

	.benefits{
		margin-right: 30px;
		margin-bottom: 7px;
	}

}

@include media-breakpoint-down(sm) {


	.img-dish{

		margin-bottom: 45px;
		
	}

	.menu-swiper{


		.swiper-container:before{
			content: '';
			width: 63px;
			height: 32px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 6;
			background: url(../img/fade.png)
		}

		.swiper-slide{
			width: auto;
		}

	}

	#modalDietary{

		width: 100%;
		height: 100%;
		padding: 90px 15px;

		button.close{
			right: 20px;
		}

	}

  .swiper-slide{
    height: 32px;
  }
  
  .ico-filter{ 
    margin-top: 4px; 
  }

}